# App
PORT=4000
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_DIRECT_URL=postgresql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST/YOUR_DB_NAME?sslmode=require&channel_binding=require

# GitHub
GITHUB_ACCESS_TOKEN=your_github_access_token_here
GITHUB_API_BASE_URL=https://api.github.com
GITHUB_RAW_URL=https://raw.githubusercontent.com
ORGANISATION_NAME=your_organisation_name
BRANCH_NAME=base
CONFIG_FILE_NAME=devkit.config.json

# Admin
ADMIN_API_KEY=your_admin_api_key_here

# Auth
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:4000

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Production example
# BETTER_AUTH_URL=https://your-production-domain.com